@import url('../calendar.css');

body {
	padding: 10px 20px;
}
pre, kbd, code, .pre {
	border-color: #ccc;
	background-color: #f9f9f9;
}
.warning {
	border: 1px solid #f33;
	padding: 8px;
	background-color: #fee;
	font-size: 16px;
}
.txtWarn {
	color: #c00;
}
.txtInfo {
	color: #009;
}
.txtGood {
	color: #090;
}
.bgWarn {
	background-color: #fee;
}
.bgInfo {
	background-color: #eef;
}
.bgGood {
	background-color: #efe;
}

div.Error, div.Success, div.Table, div.Field, div.PrimaryKey, div.Index, div.Unused,
div.Create, div.Alter, div.Download, div.Question, div.Download32, div.Question32 {
	margin-bottom: 2px;
	padding: 5px;
}

div.Error, div.Success, div.Table, div.Field, div.PrimaryKey, div.Index,
div.Download, div.Question, div.Record {
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 30px !important;
}

div.Download32, div.Question32 {
	background-repeat: no-repeat;
	background-position: 5px 5px;
	padding-left: 45px !important;
}

div.Error {
	background-image: url('failed.png');
}
div.Success {
	background-image: url('success.png');
}
div.Table {
	background-image: url('table.png');
}
div.PrimaryKey {
	background-image: url('primarykey.png');
}
div.Index {
	background-image: url('index.png');
}
div.Field {
	background-image: url('field.png');
}
div.Download {
	background-image: url('down.png');
}
div.Question {
	background-image: url('help.png');
}
div.Record {
	background-image: url('field.png');
}
div.Question32 {
	background-image: url('help32.png');
}
div.Download32 {
	background-image: url('down32.png');
}

/* >> config.php */
table.VariableTable {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.VariableName {
	background-color: #eee;
}
.VariableName, .VariableBody {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
}
.DataField {
	padding-top: 0px;
}
.Comment {
	padding-top: 0px;
}
#SaveFailed {
	border: 1px solid #600;
	background-color: #fee;
	padding: 8px;
	font-weight: none;
}
#SaveFailed b.Title {
	font-size: 18px;
}
#SaveFailed p {
	padding-top: 0;
	margin-top: 0;
}
/* << config.php */

/* >> upgradedb.php */
h3.Table {
	margin: 0px;
	padding: 8px 0px 0px 38px;
	height: 24px;
	background: url('table-big.png') no-repeat;
}
#UpgradeDB div.Error {
	background-color: #fdd;
}
div.Unused {
	background-color: #eee;
}
div.Create {
	background-color: #dfd;
}
div.Alter {
	background-color: #ff9;
}
/* << upgradedb.php */
